.eka{ 
    text-align: center;
    color: rgb(38, 89, 197);
}
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: pink;
    text-align: center;
    background-image: url(nimetön3.png);
     
}
.toka{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
}
p{
    font-size: 20px;
    padding: 1px;

}
img{
    width: 600px;
    height: 400px;
    border-radius: 50%;
    border-style: solid;
}

